---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - connectivity.liqo.io
  resources:
  - peeringconnectivities
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - connectivity.liqo.io
  resources:
  - peeringconnectivities/finalizers
  verbs:
  - update
- apiGroups:
  - connectivity.liqo.io
  resources:
  - peeringconnectivities/status
  verbs:
  - get
  - patch
  - update
